@charset "utf-8";


:root {
    --main_white: #FFFBF9;
    --main_navy_deep: #0A2767;
    --main_navy: #133683;
    --main_font: 'Gmarket Sans TTF';
    --heiro_font: 'heiro';
    --pretendard: 'Pretendard'
}



body {
    overflow-x: hidden;
    scroll-behavior: smooth;

}

.wrap {
    width: 100%;
    font-family: var(--pretendard);
    background-image: url(../img/backgroundimg.png);
    /* overflow: hidden; */
    

}


header {
    width: 100px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    
}

header nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav ul.gnb {
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
    /* background-color: rgba(71, 151, 255, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 50px; */
}

header nav ul.gnb li {
    flex: 1;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: var(--main_navy);
}

header nav ul.gnb li.active {
    color: lightblue;
}