@charset "utf-8";


:root {
    --main_white : #FFFBF9;
    --main_navy_deep : #0A2767;
    --main_navy : #133683;
    --main_font : 'Gmarket Sans TTF';
    --heiro_font : 'heiro';
    --pretendard :'Pretendard'
}

body{
        overflow-x: hidden;
}
.wrap{
    width: 100%;
    font-family: var(--pretendard);
    background-image: url(../img/backgroundimg.png);
    /* overflow: hidden; */

}


header{
    position: fixed;
    width: 100%;
    height: 100px;
    font-family: var(--main_font);
    background: rgba(17, 17, 17, 0.50);
    backdrop-filter: blur(2px);
    z-index: 999;
}

header nav{
    width: 100%;
    height: 100%;
}
header ul.gnb{
    width: 1200px;
    height: 100%;
    display: flex;
    color: var(--main_white);
    font-size: 1.5rem;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
header ul.gnb li{
    text-align: center;
}

header ul.gnb li:hover{
    color: aqua;
    transition: 0.7s;
}


