@charset "utf-8";


/* info */


.info {
  width: 500vw;
  height: 100vh;
  position: relative;
  display: flex;
  overflow: hidden;

}

.info_6 {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 200px;
  font-family: var(--heiro_font);
}

.info_6 h3 {
  font-size: 5rem;
  background: linear-gradient(0deg, #133683 0%, #55C6FF 51.92%, #DEF4FF 95.67%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: #000;
  -webkit-text-stroke-width: 2px;
  z-index: 10;
}

.info_6 h2 {
  font-size: 8rem;
  background: linear-gradient(0deg, #133683 0%, #55C6FF 51.92%, #DEF4FF 95.67%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: #000;
  -webkit-text-stroke-width: 2px;
  z-index: 11;
}



.info_slide {
  width: 100vw;
  height: 100vh;
  font-size: 2rem;
  text-align: center;
  flex-shrink: 0;
  display: flex;

}

.info_position {
  position: absolute;
  left: 1200px;
  bottom: 0;
  z-index: 50;

}

.info_1,
.info_2,
.info_3,
.info_4,
.info_5 {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
  gap: 50px;
}

.info_slide span {
  font-weight: 600;
}









/* skill */

.skill {
  width: 100%;
  height: 150vh;
  font-size: 7rem;
  font-weight: 700;
  text-align: center;
  line-height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--main_font);
}

.skill h2 .skill_gr {
  position: relative;
  display: inline-block;
  color: #ccc;

  background: linear-gradient(to right, var(--main_navy_deep), #55C6FF) no-repeat;
  -webkit-background-clip: text;
  background-clip: text;

  background-size: 0;
  transition: background-size cubic-bezier(0.1, 0.5, 0.5, 1) 0.2s;

  -webkit-text-fill-color: transparent;

}



/* project */




.project {
  width: 5080px;
  height: 100vh;
  position: relative;
  display: flex;
  overflow: hidden;
  margin-left: 100px;
  gap: 20px;
  align-items: center;
  padding-left: 200px;
}

.project_list {
  width: 1250px;
  height: 760px;
  border-radius: 10px;
}



.project1,
.project2,
.project3,
.project4 {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
}



.project .kbo {
  background-color: #232E47;
  color: #fafafa;
}

.project .lamuse {
  background-color: #1a1a1a;
  color: #fafafa;
}

.project .fan {
  color: #fafafa;
  background-color: #364732;
}

.project .ontour {
  background-color: #920F0F;
  color: #fafafa;
}

.project .project_list>p {
  font-size: 0.8rem;
  font-weight: lighter;
  padding-left: 20px;
  padding-top: 20px;
}

.project .project_contents {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

.project .project_list .project_contents .project_left {
  width: 50%;
  height: 420px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
}

.project .project_list .project_contents .project_left h3 {
  font-size: 3rem;
  font-weight: bold;
}

.project_left_top {
  width: 430px;
}

.project .project_list .project_contents .project_left .project_left_top p {

  font-size: 1.4rem;
  font-weight: bold;
}

.project .project_list .project_contents .project_left .project_left_bottom {
  width: 430px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project_bottom_text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project .project_contents .project_left .project_left_bottom p {
  font-weight: lighter;
  line-height: 1.3rem;
}

.project .project_list .project_contents .project_left ul.project_button {
  display: flex;
  gap: 20px;

}


.project .project_list .project_contents .project_left ul.project_button li {
  width: 160px;
  height: 50px;

  font-size: 1.2rem;
  font-weight: lighter;
  border: 1px solid #fafafa;
  border-radius: 50px;
}

.project .project_list .project_contents .project_left ul.project_button li:hover {
  background-color: rgba(255, 218, 139, 0.6);


}

.project .project_list .project_contents .project_left ul.project_button li a {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project .project_list .project_contents .project_right {
  width: 632px;
  height: 420px;

}

.project .project_list .project_contents .project_right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}




/* coding */

.coding {
  height: auto;
  font-family: var(--pretendard);
}

.coding .coding_tit {
  height: 20vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
}


.coding .coding_con {
  padding-top: 5vh;
  position: relative;
  z-index: 1;
  height: 160vh;
}

.coding ul {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 1500px;
}

.coding ul li {
  margin-bottom: 50px;
  width: 1200px;
  height: 500px;
  border-radius: 50px;
  position: absolute;
  background-size: cover;
  background-position: center;
  left: 50%;
  margin-left: -600px;
  overflow: hidden;
}

.coding ul li.coding_1 {
  background-image: url(../img/chahong.png);
  top: 0;
  color: #1a1a1a;
}

.coding ul li.coding_2 {
  background-image: url(../img/sulhwasoo.png);
  top: 60vh;
  color: #fafafa;
}

.coding ul li.coding_2:hover {
  color: #1a1a1a;
}

.coding ul li>a {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 100px;
  gap: 20px;
  font-size: 1.2rem;

  /* background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)); */


}

.coding ul li>a:hover {
  background-color: rgba(230, 209, 117, 0.8);
}

.coding ul li a h3 {
  font-size: 3rem;
  font-weight: 800;
}





/* design */


.design_list {
  width: 100%;
  height: 300vh;
  position: relative;
  display: flex;
}



.design_left {
  width: 30%;
  height: 100vh;
  font-size: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 205, 98);

  position: sticky;
  top: 0;
  left: 0;

}

.design_story {
  width: 70%;
  height: 80%;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  gap: 20px;
  padding-left: 50px;
}

.design {

  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  border-top: 1px solid #888;
}

.design_right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.design_right h2 {
  font-size: 4rem;
  width: 100%;
  display: flex;
  justify-content: left;
  font-family: var(--main_font);
}

.design_right p {
  display: flex;
  justify-content: left;
  width: 100%;
  line-height: 34px;
}

.design_right span {
  font-weight: 600;
  color: var(--main_navy_deep);
}






/* merit */

.merit {
  width: 100%;
  height: 100vh;
  background-color: var(--main_navy_deep);
  display: flex;
  font-family: var(--pretendard);

}


.merit .merit_view {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.merit .merit_view .merit_view_left {
  width: 588px;
  height: 740px;
  background-image: url(../img/backgroundimg.png);
  border: 3px solid #000;
  position: relative;

}

.merit .merit_view .merit_view_left img {
  position: absolute;
}

.merit .merit_view .merit_view_left img.positionimg1 {

  left: 20px;
  top: 20px;
}

.merit .merit_view .merit_view_left img.positionimg2 {
  bottom: 40px;
  right: 40px;
}


.merit_view .merit_view_left h3 {
  font-size: 3.5rem;
  color: var(--main_navy_deep);
  font-weight: bolder;

  display: flex;
  justify-content: center;
  align-items: center;
}

.merit_view .merit_view_left p {
  font-size: 1.8rem;
  color: #1a1a1a;
  font-weight: light;

  display: flex;
  justify-content: center;
}



.merit_view .merit_view_left li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  display: none;

}

.merit_view .merit_view_left li.on {
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  line-height: 30px;
}






.merit .merit_list_section {
  width: 50%;
  height: 100%;

}


.merit .merit_list_section li.swiper-slide-prev {
  rotate: 30deg;
}

.merit .merit_list_section li.swiper-slide-next {
  rotate: -30deg;
}

.merit .merit_list_section li.swiper-slide-active {
  opacity: 1;
}

.merit_list_section .merit_list li {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  transform: rotate(-90deg);
}



.merit_list_section .merit_list {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: 50px;
}

.merit_list_section .merit_list h3 {
  font-weight: 600;
  font-size: 3rem;
}

.merit_list_section .merit_list p {
  font-size: 1.5rem;
}

.merit_list_section .merit_list li {
  background-size: cover;
  width: 700px;
  height: 500px;
  flex-shrink: 0;

  border: 3px solid #000;
  background-image: url(../img/projectimg.png);

}

.merit_view_right {
  transform: rotate(-90deg);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
  font-family: var(--pretendard);
}







/* contact */

.contact {
  width: 100%;
  height: 100vh;
  display: flex;
}

.contact_left {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main_navy_deep);
}

.contact_left h2 {
  font-size: 10rem;
}

.contact_right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact_right ul.contact_list {
  width: 100%;
}

.contact_right ul.contact_list>li {
  font-size: 3rem;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid #000;

}

.contact_right ul.contact_list>li i {}

.contact .contact_list li i:nth-child(2) {
  display: none;
}

.contact_right ul.contact_list>li ul.contact_list_plus {
  display: none;
}


.contact_right ul.contact_list>li.on>ul {
  color: var(--main_navy_deep);
}

.contact .contact_list li.on i:nth-child(1) {
  display: none;
}

.contact .contact_list li.on i:nth-child(2) {
  display: contents;
}

.contact_right ul.contact_list>li.on ul.contact_list_plus {
  display: block;
}

.contact_right ul.contact_list>li ul.contact_list_plus li {
  font-size: 2.5rem;
  font-weight: 300;
  padding: 20px 0;
}


.contact .contact_left h2::selection {
  color: rgb(255, 205, 98);
}

.contact_list li:nth-child(2) .contact_list_plus li a{
  display: block;
  width: 100%;
  height: 100%;
}

.contact_list li:nth-child(1) .contact_list_plus li{
  cursor: pointer;
  user-select: all
  
}