@charset "utf-8";

.banner {
  width: 100%;
  height: 100vh;
  /* background-image: url(../img/banner.png); */
  font-family: var(--heiro_font);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 200px;
  scroll-behavior: smooth;

 

}

.banner h3 {
  font-size: 5rem;
  background: linear-gradient(0deg, #133683 0%, #55C6FF 51.92%, #DEF4FF 95.67%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: #000;
  -webkit-text-stroke-width: 2px;
  z-index: 10;
}

.banner h2 {
  font-size: 8rem;
  background: linear-gradient(0deg, #133683 0%, #55C6FF 51.92%, #DEF4FF 95.67%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: #000;
  -webkit-text-stroke-width: 2px;
  z-index: 11;
}

.banner video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}




/* info */

.info {
  width: 500vw;
  height: 100vh;
  position: relative;
  display: flex;
  /* background-image: url(../img/info1_line.png); */
    overflow: hidden;
  

}

.info_slide {
  width: 100vw;
  height: 100vh;
  font-size: 2rem;
  text-align: center;
  flex-shrink: 0;
  display: flex;

}

.info_position {
  position: absolute;
  left: 500px;
  bottom: 0;
  z-index: 99;

}

.info_1,
.info_2,
.info_3,
.info_4,
.info_5 {
  flex-direction: column;
  align-items: center;
  justify-content: center;

  z-index: 100;
}

.info_slide span {
  font-weight: 600;
}


/* skill */

.skill {
  width: 100%;
  height: 150vh;
  font-size: 7rem;
  font-weight: 700;
  text-align: center;
  line-height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--main_font);
}

.skill h2 .skill_gr {
  position: relative;
  display: inline-block;
  color: #ccc;

  background: linear-gradient(to right, var(--main_navy_deep), #55C6FF) no-repeat;
  -webkit-background-clip: text;
  background-clip: text;

  background-size: 0;
  transition: background-size cubic-bezier(0.1, 0.5, 0.5, 1) 0.2s;

  -webkit-text-fill-color: transparent;

}

/* project */

.project {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.project .project_list {
  display: flex;
  gap: 20px;
  margin-left: 50px;
}

.project_list_solo {
  width: 1250px;
  height: 760px;
  background-color: #55C6FF;
  border-radius: 10px;
}

ul.project_list li.kbo {
  background-color: #232E47;
  color: #fafafa;
}

ul.project_list li.lamuse {
  background-color: #1a1a1a;
  color: #fafafa;
}

ul.project_list li.fan {
  color: #fafafa;
  background-color: #364732;
}

ul.project_list li.ontour {
  background-color: #920F0F;
  color: #fafafa;
}

.project .project_list li.project_list_solo>p {
  font-size: 0.8rem;
  font-weight: lighter;
  padding-left: 20px;
  padding-top: 20px;
}

.project .project_list li.project_list_solo .project_contents {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

.project .project_list li.project_list_solo .project_contents .project_left {
  width: 50%;
  height: 420px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
}

.project .project_list li.project_list_solo .project_contents .project_left h3 {
  font-size: 3rem;
  font-weight: bold;
}

.project .project_list li.project_list_solo .project_contents .project_left .project_left_top p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.project .project_list li.project_list_solo .project_contents .project_left .project_left_bottom {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.project .project_list li.project_list_solo .project_contents .project_left .project_left_bottom p {
  font-weight: lighter;
}

.project .project_list li.project_list_solo .project_contents .project_left ul.project_button {
  display: flex;
  gap: 20px;
}

.project .project_list li.project_list_solo .project_contents .project_left ul.project_button li {
  width: 160px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: lighter;
  border: 1px solid #fafafa;
  border-radius: 50px;
}

.project .project_list li.project_list_solo .project_contents .project_right {
  width: 632px;
  height: 420px;

}

.project .project_list li.project_list_solo .project_contents .project_right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* merit */

.merit {
  width: 100%;
  height: 100vh;
  background-color: var(--main_navy_deep);
  display: flex;
  font-family: var(--pretendard);

}


.merit .merit_view {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.merit .merit_view .merit_view_left {
  width: 588px;
  height: 740px;
  background-image: url(../img/backgroundimg.png);
  border: 3px solid #000;
  position: relative;
}


.merit_view .merit_view_left h3 {
  font-size: 3rem;
  color: #1a1a1a;
  font-weight: bold;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.merit_view .merit_view_left p {
  font-size: 1.3rem;
  color: #1a1a1a;
  font-weight: lighter;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
}



.merit_view .merit_view_left li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  display: none;

}

.merit_view .merit_view_left li.on {
  display: block;
}






.merit .merit_list_section {
  width: 50%;
  height: 100%;
}


.merit .merit_list_section li.swiper-slide-prev {
  rotate: 30deg;
}

.merit .merit_list_section li.swiper-slide-next {
  rotate: -30deg;
}

.merit .merit_list_section li.swiper-slide-active {
  opacity: 1;
}

.merit_list_section .merit_list li {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  transform: rotate(-90deg);
}



.merit_list_section .merit_list {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: 50px;
}

.merit_list_section .merit_list h3 {
  font-weight: 600;
  font-size: 3rem;
}

.merit_list_section .merit_list p {
  font-size: 1.5rem;
}

.merit_list_section .merit_list li {
  background-size: cover;
  width: 700px;
  height: 500px;
  flex-shrink: 0;

  border: 3px solid #000;
  background-image: url(../img/projectimg.png);

}

.merit_view_right {
  transform: rotate(-90deg);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
  font-family: var(--pretendard);
}





/* design */


.design_list {
  width: 100%;
  height: 300vh;
  position: relative;
  display: flex;
}



.design_left {
  width: 30%;
  height: 100vh;
  font-size: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #888;
  position: sticky;
  top: 0;
  left: 0;

}

.design_story {
  width: 70%;
  height: 80%;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  gap: 20px;
  padding-left: 50px;
}

.design {

  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  border-top: 1px solid #888;
}

.design_right h2 {
  font-size: 4rem;
  width: 100%;
  display: flex;
  justify-content: left;
  font-family: var(--main_font);
}

.design_right p {
  display: flex;
  justify-content: left;
  width: 100%;
}

.design_right span {
  font-weight: 600;
  color: var(--main_navy_deep);
}

/* contact */

.contact {
  width: 100%;
  height: 100vh;
  display: flex;
}

.contact_left {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact_left h2 {
  font-size: 10rem;
}

.contact_right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact_right ul.contact_list {
  width: 100%;
}

.contact_right ul.contact_list>li {
  font-size: 3rem;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid #000;
}

.contact_right ul.contact_list>li:hover ul.contact_list_plus {
  display: block;
}

.contact_right ul.contact_list>li ul.contact_list_plus {
  display: none;
}


.contact_right ul.contact_list>li.on {
  color: var(--main_navy_deep);
}

.contact_right ul.contact_list>li.on ul.contact_list_plus {
  display: block;
}

.contact_right ul.contact_list>li ul.contact_list_plus li {
  font-size: 2.5rem;
  font-weight: 300;
  padding: 20px 0;
}