@charset "utf-8";

@font-face {
    font-family: 'SBAggroB';
    src: url(../font/SB\ 어그로\ B.woff) format('woff');
    font-weight: 700;
    font-style: normal;}
@font-face {
        font-family: 'SBAggroM';
        src: url(../font/SB\ 어그로\ M.woff) format('woff');
        font-weight: 500;
        font-style: normal;}
    @font-face {
            font-family: 'SBAggroL';
            src: url(../font/SB\ 어그로\ L.woff) format('woff');
            font-weight: 300;
            font-style: normal;}

            /* @import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css"); 프리텐다드 */

            /* @font-face {
                font-family: 'SBAggroB';
                src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
                font-weight: normal;
                font-style: normal;
            } */
            /* 어그로 */

            @font-face {
                font-family: 'Pretendard-Regular';
                src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
                font-weight: 400;
                font-style: normal;
            }/* 프리텐다드 */